
<% var br = post.content.indexOf('\n') %>
      <% if(br < 0 || !index) { %>
        <%- post.content %>
      <% } else { %>
        <%- post.content.substring(0, br) %>
        <% if (theme.excerpt_link) { %>
        <p class="article-more-link">
          <a href="<%- config.root %><%- post.path %>#more"><%= theme.excerpt_link %></a>
        </p>
      <% } %>
<% } %>
